.home {
    align-items: center;
    justify-content: center;
}

.home h1 {
    text-align: center;
}

.planeImage {
    height: 300px;
    width: 450px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
}